 header, footer {
 	poistion: fixed ;
	position: relative;
	width: 100%;
	text-align: center;
	background-color: black;
	background-size: 72px 72px;
	color: white;
	border: solid black 2px;

}

footer {
	margin-top: 2.5%;
}

input {
	text-align: center;
}





#headerDiv, #footerDiv {
	padding-top: 25px;
	padding-bottom: 25px;
	box-shadow: 10px 5px 5px grey;
}

#footerDiv {
	font-size: 1.5em;
}


#navContainer {
    position: relative;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: 50px;

}

#navbar {
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	font-family: times;
	text-align: left;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	width: 100%;
}

#exchForm {
	margin-top: 50px;
	border: solid black 2px;
	box-shadow: 10px 5px 5px grey;
	min-height: 500px;
	text-align: center;
}

#selectCode {
	
	margin-bottom: 5%;
	position: relative;

}

#tags {
	padding-right: 10%;
}

#formContainer {
}

#worked {
	position: relative;
}

#result {
	border: solid black 2px;
}

#resTable {
	width: 100%;
	display: inline-block;
}


#resTable td, th{
	margin-left: 2%;
	margin-right: 2%;
	padding: 10px;
}

#resCode {
	margin-top: 1%;
	margin-bottom: 0%;
	border-color: black;

}

#resCodeWrap {
	width: 100%;
	margin-bottom: 1%;
}



.navDiv {
	display: inline-block;
	width: 300px;
	border: solid black 2px;
	box-shadow: 10px 5px 5px grey;
	text-align: center;
	background-color: gainsboro;
	color: black;
}


.resCodes {
	border: solid coral 2px;
	box-shadow: 10px 5px 5px black;
	width: 50%;
	align-content: center;
	margin-right: 25%;
	margin-left: 25%;
	
	background-color: gainsboro;

}

.abbr {
	float: left;

}

.fop {
	float: left;
}

.bop {
	float: left;
}

.description {
	float: left;
}



.cell {
	display: inline-block;
	padding: 5px;
	margin: 5px;

}
.rhs {
	overflow: auto;
	direction: ltr;
	text-align: right;
}



.results {
	text-align: center;
}




.numInput {
	width: 50px;
	text-align: center;
	margin-right: 100px;
	
		
}

.removeCode {
	color: white;
	background-color: #010202;
	

}



